.cardinfo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 550px;
    width: fit-content;
    max-width: 650px;
    height: fit-content;
  }
  
  .cardinfobox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .cardinfoboxtitle {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .cardinfoboxtitle p {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .cardinfoboxtitle svg {
    height: 18px;
    width: 18px;
  }
  
  .cardinfoboxlabels {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .cardinfoboxlabels label {
    border-radius: 40px;
    background-color: gray;
    color: #fff;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .cardinfoboxlabels label svg {
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
  
  .cardinfobox ul {
    display: flex;
    gap: 15px;
    margin-left: 20px;
  }
  .cardinfobox ul li {
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .cardinfobox ul .liactive {
    box-shadow: 0 0 0 3px yellow; 
    border: 2px solid red;
    padding: 8px;
  }
  
  .cardinfoboxprogressbar {
    width: 100%;
    border-radius: 30px;
    height: 10px;
    border: 1px solid #ccc;
  }
  
  .cardinfoboxprogress {
    height: 100%;
    border-radius: 30px;
    background-color: skyblue;
    width: 0;
    transition: 200ms;
  }
  
  .cardinfoboxtasklist {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cardinfoboxtaskcheckbox {
    display: flex;
    gap: 10px;
  }
  
  .cardinfoboxtaskcheckbox input,
  .cardinfoboxtaskcheckbox svg {
    height: 18px;
    width: 18px;
    outline: none;
    cursor: pointer;
  }
  
  .cardinfoboxtaskcheckbox p {
    flex: 1;
    line-height: 18px;
  }
  
  .cardinfoboxtaskcheckbox .completed {
    text-decoration-line: line-through;
  }
  
  .cardinfobox input[type="date"] {
    width: fit-content;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    padding: 10px;
  }
  